fastapi==0.111.0
uvicorn[standard]==0.30.1
scikit-learn==1.4.2
gensim==4.3.2
nltk==3.8.1
deep-translator==1.11.4
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2
scipy==1.12.0
azure-storage-blob==12.20.0
httpx==0.27.0
